PORT=8080

DATABASE_URL=
API_BASE_URL="http://localhost:8080"

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

GOOGLE_GENERATIVE_AI_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

UPLOADTHING_TOKEN=

WEB_APP_BASE_URL="http://localhost:3000"